.hidden {
  display: none !important;
}

button.favorite-folders-list__navigation-link {
  border: none;
  background-color: unset;
}

.cust-wrapper {
  max-width: 1164px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

@media (max-width: 767px) {
  .cust-wrapper {
    padding-inline: 0;
  }
}

.custom-slider-promo {
  box-sizing: border-box;
}

.custom-slider-promo * {
  box-sizing: border-box;
}

.custom-slider-promo .swiper-button-next:after,
.custom-slider-promo .swiper-rtl .swiper-button-prev:after {
  display: none !important;
}

.custom-slider-promo .swiper-button-prev:after,
.custom-slider-promo .swiper-rtl .swiper-button-next:after {
  display: none !important;
}

.custom-slider-promo .swiper-button-next,
.custom-slider-promo .swiper-button-prev {
  width: 43px !important;
  height: 43px !important;
  background-color: #093f85 !important;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.custom-slider-promo .swiper {
  padding-left: 21.5px;
  padding-right: 21.5px;
}

.custom-slider-promo .swiper-button-prev {
  left: 0;
}

.custom-slider-promo .swiper-button-next {
  right: 0;
}

.custom-slider-promo .swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.5 !important;
}

.custom-slider-promo .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.custom-slider-promo .swiper-slide__inner {
  display: block;
}

.custom-slider-promo .swiper-slide__grid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
}

.custom-slider-promo .swiper-slide__left img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.custom-slider-promo .swiper-slide__right {
  background-color: #1873c6;
  color: #ffffff;
  padding: 45px 30px;
  margin-left: -37px;
}

.custom-slider-promo .swiper-slide__label {
  display: block;
  margin-bottom: 16px;
  font-weight: 300;
  margin-top: 0;
}

.custom-slider-promo .swiper-slide__title {
  margin-top: 0;
  padding-bottom: 24px;
  margin-bottom: 24px;
  position: relative;
  font-size: 28px;
}

.custom-slider-promo .swiper-slide__title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
}

.custom-slider-promo .swiper-slide__text {
  margin: 0;
}

@media (max-width: 767px) {
  .custom-slider-promo .swiper {
    padding-left: 12.5px;
    padding-right: 12.5px;
    margin-right: -12.5px;
    margin-left: -12.5px;
  }

  .custom-slider-promo .swiper-button-next,
  .custom-slider-promo .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
    top: 54%;
  }

  .custom-slider-promo .swiper-button-next img,
  .custom-slider-promo .swiper-button-prev img {
    scale: 0.7;
  }

  .custom-slider-promo .swiper-slide {
    font-size: 14px;
  }

  .custom-slider-promo .swiper-slide__grid {
    grid-template-columns: 1fr;
  }

  .custom-slider-promo .swiper-slide__right {
    margin-left: initial;
    padding: 25px 20px;
    padding-bottom: 40px;
  }

  .custom-slider-promo .swiper-slide__left {
    height: 190px;
  }

  .custom-slider-promo .swiper-slide__title {
    font-size: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 510px) {
  .catalog_list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }

  .catalog_list li {
    width: 100% !important;
    height: 100%;
    margin-top: 0 !important;
  }

  .catalog_list li a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .cat_img img {
    height: 125px !important;
  }

  .cat_name {
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 2;
  }
}

.cust-wrapper {
  margin-bottom: 30px;
}

a.swiper-slide {
  text-decoration: none;
}

.custom-slider-promo .swiper-pagination {
  max-width: max-content;
  margin: 0 auto;
  right: auto;
  left: 50%;

}

@media (max-width:767px) {
  .custom-slider-promo .swiper-pagination {
    left: 0;
    max-width: 100%;
    right: 0;
  }
}

.cat_main_list--mod>li+li {
  border-top: none;
}

.cat_main_list--mod .cml_content {
  border-bottom: 1px dotted #c1c1c1;
}

.total-price {
  margin-top: 32px;
  margin-bottom: 32px;
  display: block;
  font-size: 18px;
  color: #838384;
  line-height: 120%;
}

.total-price b {
  font-size: 30px;
  color: #083F84;
  font-weight: bold;
  line-height: 110%;
  margin-left: 10px;
}

@media (max-width: 1120px) {
  .total-price {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 18px;
  }

  .total-price b {
    font-size: 20px;
    margin-left: 5px;
  }
}

.page-title__group--mod::after {
  margin-left: 0;
}

.back-to {
  display: grid;
  gap: 12px;
  grid-template-columns: 21px auto;
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  align-items: center;
  line-height: 1.5;
  margin-bottom: 32px;
  transition: color 0.3s;
}

.back-to:hover {
  color: #1872C5;
}
.back-to:active {
  color: #1872C5;
}
.back-to:focus {
  color: #1872C5;
}

@media (max-width: 1023px) {
  .page-title {
    font-size: 28px;
  }

  .favorite-folders-list__button {
    top: 0;
  }
}

@media (max-width: 767px) {
  .page-title {
    font-size: 20px;
  }
}

.cml_head--mod {
  display: grid;
  gap: 40px;
  grid-template-columns: 252px 1fr;
}

.cml_head--mod .cml_name {
  margin-left: 0 !important;
  padding-right: 64px;
}

@media (max-width: 767px) {
  .cml_head--mod {
    position: relative;
    display: flex;
    align-items: center;
    overflow: initial;
    gap: 0;
  }

  .cml_head--mod .cml_name {
    padding-right: 0;
  }
}

.favorite-folders-list__navigation-list {
  padding-inline: 30px;
}

.favorite-folders-list__navigation-link {
  cursor: pointer;
  width: 100%;
  text-align: left;
  position: relative;
  padding: 14px 0; 
}

.favorite-folders-list__navigation-link span {
  text-align: left;
}

.favorite-folders-list__navigation-list {
  width: 200px;
}

.favorite-folders-list__navigation-link::after {
  width: 100%;
  left: 0;
  right: 0;
}

.custom-babl {
  /*max-width: 100%;*/
  width: 100%;
  max-width: max-content;
  margin-left: auto;
  margin-top: 10px;
}
.custom-babl .cmlh_inf {
  background-color: #00CDFF;
  font-weight: 600;
}

.container_main {
  overflow-y: hidden !important;
  padding-bottom: 135px;
}

@media (max-width: 520px) {
  .container_main {
      padding-bottom: 0;
      min-height: 600px;
  }
}

.li_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.li_list li {
  line-height: initial;
}

.line_info .custom-whatsapp {
  
}
.line_info .custom-whatsapp a {
  text-decoration: none;
}
.line_info .custom-whatsapp span {
  font-weight: 400;
  margin-left: 12px;
}
.line_info .custom-whatsapp a {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
}
.line_info .custom-whatsapp svg {
  display: block;
  width: 24px;
  height: 24px;
}

@media (max-width: 1023px) {
  .li_list {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 12px 32px;
    grid-template-columns: repeat(2, auto);
  }
  .line_info .custom-whatsapp {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    grid-column: span 2;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }
  .li_list li + li:before {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .li_list {
    grid-template-columns: repeat(1, 1fr);
  }
  .line_info .custom-whatsapp {
    grid-column: initial;
  }
}/*# sourceMappingURL=style.css.map */

.custom-button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37px;
  height: 37px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  background-color: #083f84;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: initial;
  margin-left: 16px;
}

html {
  scrollbar-gutter: stable;
}

.ht_nav .wmain {
  height: initial;
  padding-top: 12px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ht_nav_list {
  top: initial;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.modal--search {
  font-family: "Exo 2", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.modal--search *,
.modal--search *::after,
.modal--search *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal--search .modal__body {
  max-width: 100% !important;
  width: 100% !important;
  border-radius: 0;
  padding-top: 48px;
  padding-bottom: 52px;
  padding-right: 85px;
}
.modal--search .modal__form {
  margin: 0;
  font-family: "Exo 2", sans-serif;
}
.modal--search .modal__form-item-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal--search .modal__form-item-grid input {
  border: none;
  border-bottom: 1px solid #d6d6d6;
  height: 48px;
  margin: 0;
  color: #000;
  font-size: 26px;
  max-width: 100%;
  width: 100%;
}
.modal--search .modal__form-item-grid button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 16px 35px;
  color: #ffffff;
  background-color: #1872c5;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  height: 48px;
  max-height: initial;
  min-height: initial;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
}
.modal--search ::-webkit-input-placeholder {
  color: #d6d6d6;
  font-size: 26px;
}
.modal--search ::-moz-placeholder {
  color: #d6d6d6;
  font-size: 26px;
}
.modal--search :-ms-input-placeholder {
  color: #d6d6d6;
  font-size: 26px;
}
.modal--search ::-ms-input-placeholder {
  color: #d6d6d6;
  font-size: 26px;
}
.modal--search ::placeholder {
  color: #d6d6d6;
  font-size: 26px;
}
.modal--search .modal__close {
  position: absolute;
  top: 16px;
  right: -60px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.modal--search .wrapper::after,
.modal--search .wrapper::before {
  display: none;
}

@media (max-width: 767px) {
  .modal--search .modal__close {
    right: 0;
    top: -32px;
  }
  .modal--search .modal__body {
    padding: 36px 20px;
    padding-top: 55px;
  }
  .modal--search .modal__form-item-grid button {
    height: 40px;
  }
  .modal--search .modal__form-item-grid input {
    height: 40px;
    font-size: 18px;
  }
  .modal--search .modal__form-item-grid {
    gap: 12px;
  }
  .modal--search ::-webkit-input-placeholder {
    font-size: 18px;
  }
  .modal--search ::-moz-placeholder {
    font-size: 18px;
  }
  .modal--search :-ms-input-placeholder {
    font-size: 18px;
  }
  .modal--search ::-ms-input-placeholder {
    font-size: 18px;
  }
  .modal--search ::placeholder {
    font-size: 18px;
  }
}

.head_top_red .custom-button-icon {
  background-color: #9E0B0F;
}