:root {
  --blue: #1872c5;
  --white: #fff;
  --darkblue: #083f84;
  --line: #dcdde1;
  --line-03: rgba(220, 221, 225, 0.3);
  --black: #000;
  --text: #343434;
  --font-family: "Exo 2", sans-serif;
}

input,
textarea,
a,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.custom-catalog-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.custom-catalog-list input,
.custom-catalog-list textarea {
  max-width: 100%;
  width: 100%;
}
.custom-catalog-list *,
.custom-catalog-list *::before,
.custom-catalog-list *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.custom-catalog-list input[type=number] {
  -moz-appearance: textfield;
}
.custom-catalog-list textarea {
  resize: none;
}
.custom-catalog-list__header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.custom-catalog-list__to-back {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding: 0px 10px;
  height: 30px;
  text-decoration: none;
  margin-right: 30px;
  margin-top: 11px;
}
.custom-catalog-list__to-back svg {
  margin-right: 10px;
}
.custom-catalog-list__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--darkblue);
  margin: 0;
}
.custom-catalog-list__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 3fr 9fr;
}

.hide-now {
  display: none !important;
}

.custom-catalog-filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.custom-catalog-filter input,
.custom-catalog-filter textarea {
  max-width: 100%;
  width: 100%;
}
.custom-catalog-filter *,
.custom-catalog-filter *::before,
.custom-catalog-filter *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.custom-catalog-filter input::-webkit-inner-spin-button,
.custom-catalog-filter input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-catalog-filter input[type=number] {
  -moz-appearance: textfield;
}
.custom-catalog-filter textarea {
  resize: none;
}
.custom-catalog-filter__group {
  margin-bottom: 18px;
}
.custom-catalog-filter__group-name {
  display: block;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: var(--text);
  margin-bottom: 10px;
}
.custom-catalog-filter__item {
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  margin-bottom: 2px;
}
.custom-catalog-filter__item:hover {
  background-color: var(--line-03);
}
.custom-catalog-filter__label {
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 6px 0;
  padding-left: 32px;
}
.custom-catalog-filter__label::before {
  background-color: #ecedef;
}
.custom-catalog-filter__label:hover::before {
  background-color: #cfd0d2;
}
[type=radio] + .custom-catalog-filter__label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
[type=radio] + .custom-catalog-filter__label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
[type=radio]:checked + .custom-catalog-filter__label::before {
  background-color: var(--blue);
  -webkit-box-shadow: none;
          box-shadow: none;
}
[type=radio]:checked + .custom-catalog-filter__label::after {
  opacity: 1;
}
[type=checkbox] + .custom-catalog-filter__label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
[type=checkbox]:checked + .custom-catalog-filter__label::before {
  background-color: var(--blue);
  -webkit-box-shadow: none;
          box-shadow: none;
}
[type=checkbox]:checked + .custom-catalog-filter__label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 10px;
  height: 9px;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4L4 7L9 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
}
.custom-catalog-filter__more-button {
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 400;
  font-size: 16px;
  color: #464646;
  cursor: pointer;
  position: relative;
  padding-right: 19px;
  display: inline-block;
  margin-top: 10px;
}
.custom-catalog-filter__more-button:after {
  content: "";
  display: block;
  width: 11px;
  height: 8px;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.7' d='M1 1L5 5L9 1' stroke='%23464646' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  right: 0;
}
.custom-catalog-filter__more-button:hover {
  color: var(--darkblue);
}
.custom-catalog-filter__more-button:hover:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.7' d='M1 1L5 5L9 1' stroke='%23083f84' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
}
.custom-catalog-filter__more-button.expanded:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.custom-catalog-filter__select {
  max-width: 100%;
  width: 100%;
  position: relative;
}
.custom-catalog-filter__select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: 2px solid var(--line);
  border-radius: 4px;
  padding: 10px 14px;
  padding-right: 20px;
  cursor: pointer;
}
.custom-catalog-filter__select::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 16px;
  pointer-events: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L6 6L11 1' stroke='black' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  width: 15px;
  height: 10px;
  background-size: contain;
}
.custom-catalog-filter__price {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.custom-catalog-filter__price input {
  padding: 10px 16px;
  max-width: 100%;
  width: 100%;
  border: 2px solid var(--line);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: inherit;
  color: #313132;
  display: block;
  padding-left: 32px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom-catalog-filter__price input:hover {
  border: 2px solid #828384;
}
.custom-catalog-filter__price input:focus {
  border: 2px solid var(--blue);
}
.custom-catalog-filter__price-item {
  position: relative;
}
.custom-catalog-filter__price-item label {
  pointer-events: none;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  color: rgba(49, 49, 50, 0.7);
  top: 12px;
  left: 10px;
}/*# sourceMappingURL=custom.css.map */