.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 9999;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.modal .form__item:has(.button) {
  margin-top: 0;
}

.modal .button-close {
  position: absolute;
  top: -24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #083f84;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.modal .button-close:hover,
.modal .button-close:active,
.modal .button-close:focus {
  background-color: #1872c5;
}

.modal .button-close::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-width='2' d='m1 1 16 16M17 1 1 17'/%3e%3c/svg%3e");
  background-size: contain;
  background-repeat: no-repeat;
}

.modal .title {
  margin-bottom: 21px;
}

.modal .subtitle {
  font-size: 20px;
}

.modal .wrapper {
  position: relative;
}

.modal .label {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  color: #838384;
  line-height: 120%;
}

.modal__form {
  margin-bottom: 24px;
}

.modal .page-text {
  margin-bottom: 32px;
}

.modal input,
.modal textarea {
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid #c9c9c9;
  font-size: 16px;
  padding: 9px;
  width: 100%;
  margin-bottom: 16px;
  font-family: "Exo 2", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.modal .page-text b {
  display: block;
}

.modal__body {
  padding: 27px 40px 35px;
  width: 768px !important;
  margin: 0 auto;
  border-radius: 15px;
  background: #fff;
  position: relative;
}

.modal-open {
  overflow: hidden;
}

.modal.active {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.favorite-folders-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.favorite-folders-list__item {
  position: relative;
}

.favorite-folders-list__link {
  border: 1px solid #c1c1c1;
  transition: all 0.3s;
  text-decoration: none;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(1, 1fr);
  padding: 12px 20px;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
  color: inherit;
  align-items: center;
}

.favorite-folders-list__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 12px;
  top: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' fill='none'%3e%3cpath fill='%23083F84' d='M13.72 6.328a.948.948 0 0 1 0 1.344l-6.074 6.05a.957.957 0 0 1-1.35 0 .948.948 0 0 1 0-1.345L11.696 7l-5.4-5.377a.948.948 0 0 1 0-1.345.957.957 0 0 1 1.35 0l6.074 6.05ZM.955 7.95H0V6.05h.955v1.9Zm12.09 0H.956V6.049h12.09v1.902Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 14px;
  background-position: right;
}

.favorite-folders-list__link span {
  font-weight: 700;
  font-size: 20px;
  color: #083f84;
}

.favorite-folders-list__link:active,
.favorite-folders-list__link:hover,
.favorite-folders-list__link:focus {
  border: 1px solid #1872c5;
}

.favorite-folders-list__link:active::after,
.favorite-folders-list__link:hover::after,
.favorite-folders-list__link:focus::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='21' height='15' fill='none'%3e%3cpath fill='%23083F84' d='M20.72 6.975a.948.948 0 0 1 0 1.344l-6.074 6.05a.957.957 0 0 1-1.35 0 .948.948 0 0 1 0-1.345l5.4-5.377-5.4-5.377a.948.948 0 0 1 0-1.345.957.957 0 0 1 1.35 0l6.075 6.05ZM7.956 8.598H0V6.697h7.955v1.9Zm12.09 0H7.956V6.696h12.09v1.902Z'/%3e%3c/svg%3e");
}

.favorite-folders-list__navigation {
  position: absolute;
  right: 0;
  top: 0;
}

.favorite-folders-list__navigation::before {
  content: "";
  width: 82px;
  height: 77px;
  position: absolute;
  top: 20px;
  right: 10px;
}

.favorite-folders-list__button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 22px;
  width: 37px;
  height: 37px;
  padding: 0;
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  transition: all 0.3s;
}

.favorite-folders-list__button:hover,
.favorite-folders-list__button:active,
.favorite-folders-list__button:focus {
  background-color: gray;
  color: #fff;
}

.favorite-folders-list__navigation-list {
  list-style: none;
  margin: 0;
  display: grid;
  font-size: 14px;
  gap: 0;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 2;
  background-color: #fff;
  width: 200px;
  padding: 5px 10px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

.favorite-folders-list__navigation:hover .favorite-folders-list__navigation-list,
.favorite-folders-list__button.active+.favorite-folders-list__navigation-list {
  opacity: 1;
  visibility: initial;
  pointer-events: initial;
}

.favorite-folders-list__navigation-link {
  text-decoration: none;
  display: grid;
  gap: 12px;
  align-items: center;
  grid-template-columns: 20px 1fr;
  padding: 14px 20px;
  position: relative;
  font-size: 16px;
  color: #313132;
  transition: all 0.3s;
}

.favorite-folders-list__navigation-link::before {
  flex-shrink: 0;
  content: "";
  background-color: transparent;
  background-image: url("../img/icons/cust-load.png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.favorite-folders-list__navigation-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px);
  height: 1px;
  display: block;
  background-color: #c1c1c1;
}

.favorite-folders-list__navigation-link.cart::before {
  background-image: url("../img/icons/cust-cart.png");
}

.favorite-folders-list__navigation-link.basket::before {
  background-image: url("../img/icons/cust-basket.png");
}

.favorite-folders-list__navigation-link.load::before {
  background-image: url("../img/icons/cust-load.png");
}

.favorite-folders-list__navigation-link.pen::before {
  background-image: url("../img/icons/cust-pen.svg");
}

.favorite-folders-list__navigation-link.share::before {
  background-image: url("../img/icons/cust-share.png");
}

.favorite-folders-list__navigation-link.arrow::before {
  background-image: url("../img/icons/cust-arrow.svg");
}

.favorite-folders-list__navigation-link:hover {
  color: #000000;
  font-weight: 700;
}

.favorite-folders-list__navigation-item:last-of-type .favorite-folders-list__navigation-link::after {
  display: none;
}

.favorite-folders-list__navigation.mod .favorite-folders-list__button {
  background-color: #083f84;
  color: #fff;
}

.custom-select {
  position: relative;
  max-width: 100%;
}

.custom-select__selected {
  background-color: #ffffff;
  padding: 11px 16px;
  cursor: pointer;
  position: relative;
  display: grid;
  align-items: center;
  border: 1px solid;
  border-color: #c1c1c1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-content: space-between;
  gap: 12px;
  grid-template-columns: 1fr 9px;
}

.custom-select__selected:before {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: #c1c1c1;
  position: absolute;
  top: 0;
  right: 40px;
}

.custom-select__selected:after {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='14' fill='none'%3e%3cpath fill='%23010202' d='M4.79 12.938a.592.592 0 0 1-.839 0L.174 9.145a.598.598 0 0 1 0-.843.592.592 0 0 1 .84 0l3.357 3.371 3.357-3.371a.592.592 0 0 1 .84 0 .598.598 0 0 1 0 .843L4.79 12.938ZM3.778 4.967V0h1.187v4.967H3.777Zm0 7.55v-7.55h1.187v7.55H3.777Z'/%3e%3c/svg%3e");
  width: 9px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #c1c1c1;
  border-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #838384;
  z-index: 20;
  display: none;

  max-height: 167px;
  overflow-y: scroll;
}

.custom-select__option {
  padding: 12px 24px;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s;
}

.custom-select__option:hover,
.custom-select__option:active,
.custom-select__option:focus {
  background-color: #1872c5;
  color: #fff;
}

.custom-select.open .custom-select__selected {
  background-color: #fff;
}

.custom-select.open .custom-select__options {
  display: block;
}

.custom-button {
  border-radius: 40px;
  background-color: #083f84;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  height: 50px;
  border: 2px solid #083f84;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

.custom-button:hover,
.custom-button:hover,
.custom-button:focus {
  background-color: #1872c5;
  border: 2px solid #1872c5;
  color: #fff;
}

.custom-button--white {
  background-color: #fff;
  color: #083f84;
}

.button-create {
  border-radius: 50%;
  background-color: #083f84;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  height: 30px;
  width: 30px;
  border: 2px solid #083f84;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s;
  line-height: 1;
}

.button-create:hover,
.button-create:hover,
.button-create:focus {
  background-color: #1872c5;
  border: 2px solid #1872c5;
  color: #fff;
}

.button-create--white {
  background-color: #fff;
  color: #083f84;
}

.create-folder {
  padding: 32px 0;
}

.create-folder__link {
  text-decoration: none;
  display: grid;
  gap: 12px;
  grid-template-columns: auto auto;
  align-items: center;
  max-width: max-content;
  margin: 0 auto;
}

.create-folder__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #083f84;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.create-folder__button:hover,
.create-folder__button:active,
.create-folder__button:focus {
  background-color: #1872c5;
  color: #fff;
}

.cart-image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.cart-image-preview img {
  display: block;
  flex-shrink: 0;
}

.page-text {
  text-align: center;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 16px;
}

.page-text--mod {
  text-align: left;
  margin-inline: 0;
}

.comment--mod {
  margin-bottom: 16px;
}

.buttons-group {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, auto);
  max-width: max-content;
  margin: 0 auto;
}

.buttons-group--to-right {
  margin-left: auto;
  margin-right: 0;
}

.page-title__group {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 28px;
  padding-bottom: 22px;
  position: relative;
}

.page-title__group::after {
  border-top: 1px solid #c1c1c1;
  content: "";
  display: block;
  left: 0;
  margin-left: -40px;
  position: absolute;
  top: 100%;
  width: 120px;
}

.page-title__group .page-title {
  margin: 0;
  padding: 0;
  text-align: left;
}

.page-title__group .page-title::after {
  display: none;
}

.custom-details-folder .comment {
  margin-bottom: 16px;
  height: 170px;
}

.custom-details-folder .custom-button {
  margin-right: 0;
  margin-left: auto;
  max-width: max-content;
  margin-bottom: 24px;
}

.to-right {
  margin-right: 0;
  margin-left: auto;
  max-width: max-content;
}

.cml_head--mod {
  position: relative;
  display: flex;
  align-items: center;
  overflow: initial;
}

.cml_head--mod .cmlh_inf {
  margin-bottom: 0;
}

.cml_head--mod .cml_name {
  padding: 10px 0;
}

.cml_head--mod .favorite-folders-list__navigation {
  top: 0;
  right: 0;
}

.cml_head--mod .favorite-folders-list__button {
  right: 0;
}

.schet_main--mod {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.schet_main--mod * {
  box-sizing: border-box;
}

.schet_main--mod .schet_list {
  min-width: initial !important;
}

.schet_main--mod .sl_line {
  width: max-content;
  /* width: 100%; */
  justify-content: flex-start;
}

.schet_main--mod .sl_cell {
  flex-shrink: 0;
  max-width: initial;
  min-width: initial;
  width: initial;
  font-size: 16px;
}

.schet_main--mod .sl_cell b {
  font-size: 18px;
}

.schet_main--mod .sl_cell:nth-child(1) {
  width: 260px !important;
  min-width: initial !important;
}

.schet_main--mod .sl_cell:nth-child(2) {
  width: 300px !important;
  min-width: initial !important;
}

.schet_main--mod .sl_cell:nth-child(3) {
  width: 300px !important;
  min-width: initial !important;
}

.schet_main--mod .sl_cell:nth-child(4) {
  width: 120px !important;
  min-width: initial !important;
}

.schet_main--mod .sl_cell:nth-child(5) {
  width: 120px !important;
  min-width: initial !important;
}

.cat_main .wmain {
  overflow: initial;
}

.custom-area {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px 15px;
  padding-bottom: 20px;
  background-color: #edf4fa;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.custom-area table {
  width: 100%;
  border-collapse: collapse;
}

.custom-area td,
.custom-area th {
  padding: 5px 8px;
}

.custom-area td:nth-child(1),
.custom-area th:nth-child(1) {
  width: 275px;
}

.custom-area td:nth-child(2),
.custom-area th:nth-child(2) {
  width: 280px;
}

.custom-area th {
  text-align: left;
}

.sl_cell--grid {
  display: grid;
  gap: 12px;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.custom-tabel {
  max-width: 100%;
  width: 100%;
}

.custom-tabel a {
  text-decoration: none;
  color: black;
}

.custom-tabel__line {
  display: grid;
  grid-template-columns: 1fr 150px 150px 150px 150px 150px;
  justify-content: space-between;
  max-width: 100%;
  width: max-content;
}

.custom-tabel__cell {
  padding: 8px 10px;
  width: 100px !important;
  min-width: 100px !important;
}

.custom-tabel .sl__cell--big {
  width: 485px !important;
  min-width: initial !important;
}

.custom-tabel .sl__cell--grid {
  display: grid;
  gap: 12px;
  grid-template-columns: 70px 1fr;
  align-items: center;
  width: 485px !important;
}

.custom-tabel .sl__cell--grid img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.schet_main--mod2 {
  font-size: 16px !important;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.schet_main--mod2 * {
  font-size: 16px !important;
  box-sizing: border-box;
}

.schet_main--mod2 .sl_cell--flex {
  display: flex;
  align-items: center;
}

.schet_main--mod2 .sl_cell--flex img {
  width: 70px;
  display: block;
  margin-right: 12px;
}

.schet_main--mod2 .sl_cell {
  padding: 8px 10px;
  width: 120px !important;
  min-width: 120px !important;
  display: flex;
  align-items: center;
}

.schet_main--mod2 .sl_cell--mod {
  width: 550px !important;
  min-width: 550px !important;
}

.schet_main--mod2 .sl_cell--flex {
  min-width: 500px !important;
  width: 500px !important;
}

.schet_main--mod2 .sl_line--color {
  padding: 30px 0 !important;
  background-color: #edf4fa;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px !important;
  border: none !important;
}

.schet_main--mod2 .sl_line--color * {
  font-size: 16px !important;
}

.schet_main--mod2 .sl_line:last-of-type {
  border: none;
}

.schet_main--mod2 .sl_line {
  padding-top: 0;
  padding-bottom: 0;
  max-width: max-content;
  width: max-content;
  min-width: 100%;
}

.schet_main--mod2 .sl_line+.sl_line {
  border-top: 1px solid #d6d6d6;
  max-width: max-content;
  width: max-content;
  min-width: 100%;
}

.cust-users-list {
  list-style: none;
  margin: 0 auto;
  margin-top: 32px;
  max-width: max-content;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, auto);
}

.cust-users-list .favorite-folders-list__navigation-link::after {
  display: none;
}

.custom-area {
  max-width: 100%;
  width: 100%;
}

.sl_line--color .sl_cell--empty {
  width: 80px !important;
  min-width: 80px !important;
}

.schet_main--mod2 .sl_cell--long {
  width: 420px !important;
  min-width: 420px !important;
}

.sl_line .sl_cell--top {
  width: 500px !important;
  min-width: 500px !important;
}

.cmlc_nav--mod li a {
  font-weight: 400;
  color: #000000;
}

@media (max-width: 800px) {
  .custom-area table {
    width: max-content;
  }

}

@media (max-width: 768px) {
  .cart-items tbody tr td {
    font-size: 15px;
    padding: 12px 6px;
  }

  .cart-items thead td {
    font-size: 14px;
    padding: 0 4px 12px 14px !important;
  }
}

.cart-page {}

.cart-page .table>thead>tr>th,
.cart-page .table>tbody>tr>th,
.cart-page .table>tfoot>tr>th,
.cart-page .table>thead>tr>td,
.cart-page .table>tbody>tr>td,
.cart-page .table>tfoot>tr>td {
  border-top: none;
}

/* .cart-page  .table > thead > tr, */
.cart-page .table>tbody>tr {
  border-top: 1px solid #ddd;
}

.custom-button {
  cursor: pointer;
}

/* @media (max-width: 767px) { */
.akcia {
  margin: 0 auto;
}

/* } */

@media (max-width: 880px) {
  .modal__body {
    width: 100% !important;
    max-width: 85% !important;
  }

}

@media (max-width: 550px) {
  .modal__body {
    width: 100% !important;
    max-width: 450px !important;
  }

}

@media (max-width: 480px) {
  .modal__body {
    width: 100% !important;
    max-width: 250px !important;
    padding: 20px;
  }

}